@media screen and (max-width: 1385px) {
  .restaurantOverview,
  .foodSections-container,
  .impressumRestaurant,
  .food-navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  h1 {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 1105px) {
  .restaurantOverview {
    padding-top: 50px;
  }

  .shoppingCart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-height: 100vh;
    background-color: #fff;
  }

  #cartContent {
    max-height: 60vh;
  }

  #orderButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #fff;
    background-color: var(--main-hover-color);
    transition: all 200ms ease-in-out;
    cursor: pointer;

    border: 10px solid #fff;

    z-index: 999;
  }

  #cartContent,
  #infos,
  #totalPrice {
    padding: 0 170px;
  }

  .h3-box {
    justify-content: space-between;
    padding-left: 20px;
    font-size: 16px;
  }

  .closeBasket {
    display: inline-flex;
    cursor: pointer;
  }

  .cartButton {
    display: inline-flex;
  }

  .button-up {
    bottom: 100px;
    right: 20px;
  }

  .icons span {
    font-size: 12px;
  }

  footer .links {
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .links a {
    padding: 15px 0;
  }

  footer p {
    padding: 20px 0;
  }
}

@media screen and (max-width: 955px) {
  .header-img {
    height: 112px;
  }

  .restaurant-logo {
    top: calc(112px - (100px / 2));

    height: 105px;
    width: 105px;
  }

  .restaurantOverview {
    padding-top: 35px;
  }
}

@media screen and (max-width: 955px) {
  #cartContent,
  #infos,
  #totalPrice {
    padding: 0 100px;
  }
}

@media screen and (max-width: 560px) {
  .header-logo-paragraph {
    display: none;
  }
  #cartContent,
  #infos,
  #totalPrice {
    padding: 0 20px;
  }
}

@media screen and (max-width: 339px) {
  .icons {
    justify-content: center;
  }

  .restaurant-logo {
    right: 0;
    left: 35%;
    height: 90px;
    width: 90px;
  }

  .singleName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .totalPrice {
    padding: 0;
    margin: 15px auto;
  }

  #minOrderValueDiff {
    width: 75px;
  }

  .basketContent {
    margin: 0;
  }
}
